.nav-container {
    display: flex;
    padding-top: 2em;
    width: 100%;
}

.nav {
    display: flex;
    width: 100%;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: var(--layout-x-width);
}

.nav-content .menu {
    display: flex;
    align-items: center;
    list-style: none;
    width: 40%;
}

.menu-link {
    display: flex;
    justify-content: center;
    border-bottom: 0.2em transparent solid;
    padding: 0em 1em 1.5em 1em;
    width: 5em;
}

.menu .menu-link:not(:first-child) {
    margin-left: 1em;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 20%;
}

.logo {
    display: flex;
}

.nav-content .options-menu {
    align-items: center;
    display: flex;
    justify-content: end;
    width: 40%;
}

.menu-link:hover {
    color: var(--brand-active);
}

.active-link {
    color: var(--brand-active);
    border-bottom: 0.2em var(--brand-active) solid;
}