.nav-container {
    display: flex;
    padding-top: 2em;
    width: 100%;
}

.nav {
    display: flex;
    width: 100%;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: var(--layout-x-width);
}

.nav-content .menu {
    display: flex;
    align-items: center;
    list-style: none;
    width: 40%;
}

.menu-link {
    display: flex;
    justify-content: center;
    border-bottom: 0.2em transparent solid;
    padding: 0em 1em 1.5em 1em;
    width: 5em;
}

.menu .menu-link:not(:first-child) {
    margin-left: 1em;
}

.menu-link:hover {
    color: var(--brand-active);
}

.active-link {
    color: var(--brand-active);
    border-bottom: 0.2em var(--brand-active) solid;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 20%;
}

.logo {
    display: flex;
}

.currencies-menu {
    align-items: flex-start;
    position: relative;
    display: flex;
    justify-content: end;
    width: 40%;
}

.currencies-wrapper {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.currency-options-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: absolute;
    top: 1.5em;
    right: -2.6em;
    padding: 0.5em 0 0 0;
    width: 5.8em;
}

.currency {
    cursor: pointer;
    display: flex;
    padding: 0.5em 1em;
    width: 100%;
}

.currency:hover {
    background-color: lightgray;
}

.currency .label {
    margin-left: 0.5em;
}

.active-currency {
    font-weight: bolder;
}

.hide-currency-menu {
    display: none;
}

.currency-toggle-btn {
    background-color: white;
    border: 0;
    display: flex;
    margin-left: 1em;
    width: 1.2em;
    height: 1.5em;
}

.arrow-toggle-currencies {
    pointer-events: none;
}