.attribute-name-cart, .attribute-name {
    font-weight: bold;
    margin-top: 1em;
}

.attribute-name-cart {
    font-size: 1em;
}

.attribute-name {
    font-size: 1em;
}

.attribute-options-wrapper {
    display: flex;
    margin-top: 0.5em;
}
