.attribute-name, .attribute-name-cart {
    font-weight: bold;
    margin-top: 1em;
}

.attribute-name-cart {
    font-size: 0.8em;
}

.attribute-options-wrapper {
    display: flex;
    margin-top: 0.5em;
}

.attribute-option {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
}