.cart-list {
    margin-top: 2em;
}

.cart-info {
    margin-top: 2em;
}

.cart-details {
    display: flex;
    font-size: 1.2em;
}

.cart-info-labels {
    display: flex;
    flex-direction: column;
}

.cart-info-labels p:not(:first-child), .cart-info-values p:not(:first-child) {
    margin-top: 0.5em;
}

.cart-info-values {
    display: flex;
    flex-direction: column;
}

.cart-quantity {
    margin-left: 1em;
    font-weight: bold;
}

.cart-tax {
    margin-left: 1em;
    font-weight: bold;
}

.cart-total {
    margin-left: 1em;
    font-weight: bold;
}

.order-btn-wrapper {
    margin-top: 1em;
}

.order-btn {
    color: white ;
    background-color: var(--brand-active);
    border: none;
    cursor: pointer;
    display: flex;
    font-weight: bold;
    justify-content: center;
    padding: 1em;
    width: 200px;
}