.show-cart-product-count {
    display: flex;
    position: absolute;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 0.4em;
    border-radius: 50%;
    top: -1em;
    left: 2em;
}