.cart-menu-wrapper {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: flex-end;
    margin-left: 2em;
}

.cart-menu {
    background-color: white;
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 100%;
    padding: 2em;
    width: 500px;
}

.cart-menu-top {
    display: flex;
    font-weight: bold;
}

.cart-menu-count {
    margin-left: 0.5em;
}

.cart-menu-items-wrapper {
    margin-top: 1em;
}