.cart-item {
    display: flex;
    justify-content: space-between;
}

.cart-item:first-child {
    border-top: 1px lightgray solid;
    padding: 1.5em 0 0 0;
}

.cart-item:not(:first-child) {
    border-top: 1px lightgray solid;
    border-bottom: 1px lightgray solid;
    padding: 1.5em 0 1.5em 0;
    margin-top: 1.5em;
}

.cart-item-brand {
    font-size: 1.6em;
    font-weight: bold;
}

.cart-item-brand-sm {
    font-weight: bold;
    font-size: 1.2em;
}

.cart-item-name {
    font-size: 1.4em;
    margin-top: 0.5em;
}

.cart-item-name-sm {
    margin-top: 0.5em;
}

.cart-item-img-wrapper {
    display: flex;
    height: auto;
    width: 100%;
}

.cart-item-price {
    font-weight: bold;
    margin-top: 0.5em;
    font-size: 1.2em;
}

.cart-item-price-sm {
    font-weight: bold;
    margin-top: 0.5em;
}

.cart-menu-control-btn {
    cursor: pointer;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 1em;
    height: 20px;
    width: 20px;
}

.cart-item-left {
    display: flex;
    flex-direction: column;
}

.cart-item-right-lg {
    display: flex;
    height: 300px;
    width: 300px;
}

.cart-item-right-sm {
    display: flex;
    height: 150px;
    width: 50%;
}

.cart-item-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 0.5em;
}

.cart-menu-item-count {
    display: flex;
    justify-content: center;
    font-weight: bold;
}