.cart-menu-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-left: 2em;
}

.cart-menu {
    display: flex;
    position: relative;
}

.cart-btn {
    border: none;
    cursor: pointer;
    background-color: white;
    height: 2.5em;
    width: 3em;
}

.cart-btn-svg {
    pointer-events: none;
    height: 2.5em;
    width: 3em;
}