.cart-item {
    display: flex;
    justify-content: space-between;
}

.cart-item:not(:first-child) {
    border-top: 1px lightgray solid;
    padding-top: 1.5em;
    margin-top: 1.5em;
}

.cart-item-img-wrapper {
    display: flex;
    height: auto;
    width: auto;
}

.cart-item-img {
    height: 100%;
    width: 120px;
}

.cart-item-price {
    font-weight: bold;
    margin-top: 0.5em;
}

.cart-menu-control-btn {
    cursor: pointer;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 1em;
    height: 20px;
    width: 20px;
}

.cart-item-left {
    display: flex;
    flex-direction: column;
}

.cart-item-right {
    display: flex;
    height: 150px;
    width: 50%;
}

.cart-item-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 0.5em;
}

.cart-menu-item-count {
    display: flex;
    justify-content: center;
    font-weight: bold;
}