.cart-menu-wrapper {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: flex-end;
    margin-left: 2em;
}

.cart-menu {
    background-color: white;
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 100%;
    padding: 2em 1em;
    width: 380px;
}

.cart-menu-top {
    display: flex;
}

.cart-menu-bag-text {
    font-weight: bold;
}

.cart-menu-count {
    margin-left: 0.5em;
}

.cart-menu-items-wrapper {
    margin-top: 1em;
    max-height: 450px;
    overflow-y: scroll;
}

.cart-menu-total {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    margin-top: 2em;
}

.cart-menu-bottom {
    display: flex;
    margin-top: 1em;
    justify-content: space-between;
    width: 100%;
}

.cart-menu-view-bag, .cart-menu-checkout {
    cursor: pointer;
    font-weight: bold;
    padding: 1em;
    width: 45%;
}

.cart-menu-view-bag {
    color: black;
    background-color: white;
    border: 1px black solid;
    display: flex;
    text-decoration: none;
    justify-content: center;
}

.cart-menu-checkout {
    background-color: var(--brand-active);
    border: 1px white solid;
    color: white;
}