.option-text {
    background-color: white;
    border: 2px rgba(10, 10, 10, 0.8) solid;
    font-weight: bold;
}

.option-text:hover {
    background-color: lightgray;
}

.attribute-option:not(:first-child) {
    margin-left: 1em;
}

.attribute-selected-text, .attribute-selected-swatch {
    border: 4px var(--brand-active) solid;
}

.attribute-selected-text {
    background-color: black;
    color: white;
}