
.plp-popup-wrapper {
    display: flex;
    position: fixed;
    width: var(--layout-x-width);
    z-index: 10000;
}

.plp-popup {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: white;
    margin: auto;
    padding: 3em 2em 5em 2em;
    width: 100%;
    z-index: 6000;
}

.plp-popup-content {
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
}

.plp-popup-img-wrapper {
    display: flex;
    height: 400px;
    width: 500px;
    box-shadow: 0px 0px 5px lightgray;
}

.plp-popup-img {
    height: 100%;
    width: 100%;
}

.plp-popup-top {
    display: flex;
    align-items: center;
    width: 100%;
}

.plp-popup-title {
    font-size: 1.2em;
    font-weight: bold;
}

.plp-popup-close-btn {
    border: none;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    cursor: pointer;
    padding: 1em;
    margin-left: auto;
    height: 40px;
    width: 40px;
}

.plp-popup-close-btn:hover {
    background-color: rgba(228, 33, 33, 0.8);
}

.plp-popup-btn-wrapper {
    margin-top: 2em;
    width: 100%;
}
