.product-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.product-item-left {
    display: flex;
    width: 60%;
}

.product-item-gallery {
    display: flex;
    flex-direction: column;
    width: 15%;
}

.product-item-gallery-option {
    height: 100px;
    width: 100%;
}

.product-item-img-wrapper {
    display: flex;
    height: 400px;
    margin-left: 2em;
    box-shadow: 0px 0px 5px lightgray;
    width: 80%;
}

.product-item-img {
    height: 100%;
    width: 100%;
}

.product-item-attributes {
    margin-top: 0em;
}

.attribute-name {
    font-weight: bold;
    margin-top: 1em;
}

.attribute-options-wrapper {
    display: flex;
    margin-top: 0.5em;
}

.attribute-option {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
}

.option-text {
    background-color: white;
    border: 2px rgba(10, 10, 10, 0.8) solid;
    font-weight: bold;
}

.option-text:hover {
    background-color: lightgray;
}

.attribute-option:not(:first-child) {
    margin-left: 1em;
}

.attribute-selected-text, .attribute-selected-swatch {
    border: 4px var(--brand-active) solid;
}

.attribute-selected-text {
    background-color: black;
    color: white;
}

.product-item-details {
    width: 30%;
}

.product-item-title {
    font-size: 1.2em;
    font-weight: bold;
}

.product-item-price-wrapper {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
}

.product-item-price {
    font-weight: bold;
}

.product-item-amount {
    font-weight: bold;
}

.product-item-btn-wrapper {
    margin-top: 2em;
    width: 100%;
}

.product-item-description {
    margin-top: 2em;
}