
.plp-popup-wrapper {
    display: flex;
    position: fixed;
    width: var(--layout-x-width);
    z-index: 10000;
}

.plp-popup {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: white;
    margin: auto;
    padding: 4em 5em 5em 5em;
    width: 100%;
    z-index: 6000;
}

.plp-popup-content {
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
}

.plp-popup-top {
    display: flex;
    align-items: center;
    width: 100%;
}

.plp-popup-close-btn {
    border: none;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    cursor: pointer;
    padding: 1em;
    margin-left: auto;
    height: 40px;
    width: 40px;
}

.plp-popup-close-btn:hover {
    background-color: rgba(228, 33, 33, 0.8);
}
