.product-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.product-item-left {
    display: flex;
    width: 60%;
}

.product-item-gallery {
    display: flex;
    flex-direction: column;
    width: 15%;
}

.product-item-gallery-option {
    height: 100px;
    width: 100%;
}

.product-img-with-gallery {
    display: flex;
    height: 400px;
    margin-left: 2em;
    box-shadow: 0px 0px 5px lightgray;
    width: 80%;
}

.product-img-no-gallery {
    display: flex;
    height: 400px;
    margin-left: 0em;
    box-shadow: 0px 0px 5px lightgray;
    width: 100%;
}

.product-item-img {
    height: 100%;
    width: 100%;
}

.product-item-attributes {
    margin-top: 0em;
}

.product-item-details {
    width: 30%;
}

.product-item-title {
    font-size: 1.2em;
    font-weight: bold;
}

.product-item-price-wrapper {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
}

.product-item-price {
    font-weight: bold;
}

.product-item-amount {
    font-weight: bold;
}

.product-item-btn-wrapper {
    margin-top: 2em;
    width: 100%;
}

.product-item-description {
    margin-top: 2em;
}