.footer-container {
    background-color: var(--brand-dark);
    color: white;
    font-weight: bolder;
    display: flex;
    width: 100%;
}

.footer {
    display: flex;
    margin: auto;
    width: var(--layout-x-width);
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2em 1em;
    width: auto;
}

.footer-content .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.footer-content .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-content .bottom p, .top p {
    margin: 0.2em;
}