* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-main {
  position: relative;
}

.app-modal {
  position: fixed;
  background-color: rgba(10, 10, 10, 0.7);
  height: 100vh;
  width: 100vw;
  z-index: 5000;
}

.app-content {  
  position: relative;
  min-height: 100vh;
  margin: auto;
  padding-top: 5em;
  padding-bottom: 5em;
  width: var(--layout-x-width);
}

.hide {
  display: none;
}
