.content-wrapper {
    position: relative;
    width: 100%;
}

.category-title {
    font-size: 2em;
}

.plp-products-container {
   display: flex;
   width: 100%;
}

.attribute-name {
    font-weight: bold;
    margin-top: 1em;
}

.attribute-options-wrapper {
    display: flex;
    margin-top: 1em;
}

.attribute-option {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
}

.option-text {
    background-color: white;
    border: 2px rgba(10, 10, 10, 0.8) solid;
    font-weight: bold;
}

.option-text:hover {
    background-color: lightgray;
}

.attribute-option:not(:first-child) {
    margin-left: 1em;
}

.attribute-selected-text, .attribute-selected-swatch {
    border: 4px var(--brand-active) solid;
}

.attribute-selected-text {
    background-color: black;
    color: white;
}